html{
    font-family: 'Cantarell', sans-serif;
    color: wheat;

    /*font-family: 'Kotta One', serif;*/
}


#idx-atf{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    background-image: url("img/background-photo-mobile-devices.jpg");
    background-repeat: no-repeat;
    background-position: bottom    ;
    background-size: cover;
    background-attachment: fixed;
    border:1px dashed hotpink;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
header nav{
    /*justify-content: space-between;*/
    /*position: center;*/
    margin: 0 1rem;
    height: 80%;
    width: 300px;
    background-color: red;
}
header div{
    margin: 0 1rem;
    height: 80%;
    width: 300px;
    /*background-color: red;*/
    background-image: url("svg/Husseinl-access.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#idx-atf>div{
    height: 90vh;
}
.idx-center1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*padding: 200px;*/
    /*border: 2px solid hotpink;*/
}
.idx-center2{
    /*border: 2px solid hotpink;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2rem;
    text-align: center;

}
h2{
    /*border: 2px solid hotpink;*/
    font-size: 1.4rem;
    font-size: 700;
    text-align: center;

}
h3{
    font-size: 1.4rem;
    text-align: center;
    padding-top: 20px;

}
button {
    color: rgb(202, 250,234);;
    font-size: 1.4rem;
    font-size: 700;
    border: 1px solid rgb(202, 250,234);
    padding: .7rem 1.2rem;
    border-radius: 8px;;
}