html{
    background-color: #747386;
    font-family: 'Dancing Script', cursive;
}
body{
    width: 60%;
    height: 80%;
    background-color: #f3f3ef;;
    border:10px solid black;
    margin: 0 auto;
}
#hussein{
    color: tomato;
}
.hh1 {
    color: #47ff7b;
    text-shadow: 22px 13px 10px black;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 3vw;
    color: #2e3238;
    margin: 10px;
}

p{
    margin: 20px;
    /*max-width: 800px;*/
    /*font-family: "Bitstream Vera Sans Mono" ;*/
    color: black;
    font-size: 1vw;
    text-indent: 2rem;
    font-style: italic;
    font: bold;
    /*font-variant: small-caps;*/
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}
p:first-letter{
    font-size: larger;
    color: blue;
}p:first-line{
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bold;
    color: #47afff;
 }

#hussein::after{
    content: "--->";
}

img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 20px groove #ffbf00;
    /*background-image: url("surf.jpg");*/
}
