html {
    font-family: 'Cantarell', sans-serif;
    color: wheat;
}

#idx-atf{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    background-image: url("img/background-photo-mobile-devices.jpg");
    background-repeat: no-repeat;
    background-position: bottom    ;
    background-size: cover;
    background-attachment: fixed;
    /*border:1px dashed hotpink;*/
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
header nav{
    display: none;

}

#moble_menu {
    /*width: 100%;*/
    display: flex;
    flex-flow: column wrap;
    /*border: 1px solid hotpink;*/
}
#moble_menu a{
    background-color: rgba(0, 153, 255, 0.84);
    display: flex;
    padding: 1rem;
    /*margin-bottom: 1px;*/
  align-items: center;
    font-size: 1.5rem;
    border-top: 1px solid rgba(255,255,255, 0.3);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
#moble_menu nav a:last-child {
    border-bottom: none;

}
#moble_menu a:hover{
    background-color: rgba(0, 94, 255, 0.87);

}
#moble_menu h1{
    padding-left: 1rem;
}
.trans1{
    transition-property: all;
    transition-duration: 800ms;
    transition-timing-function: ease;
}
header div{
    /*display: flex;*/
    /*justify-content: right;*/
    /*align-items: center;*/
    /*margin: 0 1rem;*/
    /*height: 80%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*border: 1px solid red;*/
}
.c1{
    display: none;
}
header h2{
    font-size: 1.2rem;
    margin-left: .4rem;
}
.c0 {
    fill: currentColor ;
    /*border: 1px solid palegoldenrod;*/
}
.c0:hover{
    /*fill: #47afff;*/
    cursor: pointer;
}
header div a {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 1rem;

}
header div a:hover {
    fill: #47afff;
    color: #47afff;
}
header nav a{
    padding: 0 1.2rem;



}header nav a:hover{
    border-radius: 5px;;
     background-color: gray;

}
#idx-atf>div{
    height: 85vh;
}
.idx-center1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.idx-center2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#idx-atf h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;

}
#idx-atf h2{
    font-size: 1.4rem;
    font-size: 700;
    text-align: center;

}
#idx-atf h3{
    font-size: 1.4rem;
    text-align: center;
    padding-top: 20px;

}


button {
    color: rgb(202, 250,234);;
    font-size: 1.4rem;
    font-size: 700;
    /*background-image: linear-gradient(red,blueviolet,green,black);*/

    border: 1px solid rgb(202, 250,234);
    padding: .7rem 1.2rem;
    border-radius: 8px;
}
label {
    /* position */
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    /*arrange content*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*format*/
    width: 5rem;
    height: 2rem;
    /*border: .3rem solid darkblue;*/
    border-radius: 1rem 0 0 1rem;
    background-color: rgba(196, 232, 200, 0.52);
    color: rgba(166, 58, 205, 0.64);
}
label:hover {
    background-color: #6DC990;
}
input[type="checkbox"] {
    /* toggle */
    display: none;
}
#sidebar {
    /* toggle */
    position: fixed;
    right: -35rem ;
    /* formatting */
    height: 100vh;
    width: 20vw;
    background-color: rgba(221, 86, 75, 0.6);
    border-right: 2px solid #ff6600;
    /* transition */
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1s;
}

input[type="checkbox"]:checked + #sidebar {
    /* toggle */
    right: 0;
}



